#playDetails {
  margin: 120px auto auto 120px;

  .playDetails {
    width: 90%;
    display: flex;
    justify-content: space-between;
    img {
      width: 550px;
      height: 350px;
    }
    &--block {
      width: 700px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      // border: 1px solid red;
      h2 {
        font-size: 45px;
        font-weight: 600;
        line-height: 1.4em;
        font-family: "DINPro", sans-serif;
      }
      p {
        font-family: "Scada", sans-serif;
      }
      h4 {
        font-family: "Scada", sans-serif;
      }
      button{
        width: 180px;
        height: 35px;
        border-radius: 5px;
        border: none;
        background: var(--clr-red);
        color: white;
      }
    }
  }
}
