#repertoire {
  margin-top: 120px;
  .repertoire {
    width: 70%;
    margin: 0 auto;
    border: 1px solid red;

    p {
      font-family: "Onest", sans-serif;
      font-weight: 600;
    }
    &--list1 {
      border: 1px solid blue;
    }
    &--list2 {
      // background: var(--clr-grey-2);
      padding: 50px 150px;

      .season {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-family: "Onest", sans-serif;
        h2 {
          text-transform: uppercase;
          font-size: 15px;
          font-family: "Onest", sans-serif;
          span {
            font-size: 40px;
            letter-spacing: 10px;
            font-family: "Onest", sans-serif;
          }
        }
      }
      &__block {
        display: flex;
        align-items: center;
        margin-top: 15px;
        .timeBlock {
          display: flex;
          align-items: center;
          justify-content: space-between;

          gap: 5px;
          p {
            font-family: Scada, serif;
            font-size: 40px;
          }
          &--minutes {
            p {
              font-family: Scada, serif;
              font-size: 13px;
            }
          }
        }

        .nameBlock {
          margin-left: 15px;
          p {
            text-transform: uppercase;
            font-size: 25px;
          }
        }
        .genreBlock {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          line-height: 1.5;
          p {
            font-size: 13px;
            text-transform: uppercase;
          }
        }
      }
    }
    .listAddress {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      &--adminPart {

        p {
          width: 280px;
          font-size: 13px;
          line-height: 1;
        }
      }
      &--number{
        text-transform: uppercase;
        letter-spacing: 0.5px;
        line-height: 1.5;
      }
      &--icons{
       a{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        color: var(--clr-black);
        line-height: 1.5;
       }

      }
    }
  }
}
